@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.img {
  width: 500px;
  height: 600px;
  object-position: center;
  object-fit: cover;
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.img:hover {
  -webkit-filter: brightness(100%);
  box-shadow: 1px 1px #6e85b7, 2px 2px #6e85b7, 3px 3px #6e85b7, 4px 4px #6e85b7,
    5px 5px #6e85b7, 6px 6px #6e85b7;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 0.5s ease;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 100%;
}
.mainImage {
  margin: 50px 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.headerContainer {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 20px;
}
.headerOne {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6e85b7;
  border-right: 4px solid #000;
  animation: cursor 1s infinite step-end, typing 15s infinite steps(16);
  white-space: nowrap;
  overflow: hidden;
}
@keyframes cursor {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
@keyframes typing {
  0% {
    width: 0ch;
  }
  30% {
    width: 21ch;
  }
  80% {
    width: 21ch;
  }
  90% {
    width: 0ch;
  }
  100% {
    width: 0ch;
  }
}
.headerTwo {
  font: 800 40px Arial;
  font-size: 4.5rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  color: #6e85b7;
}
.headerThree {
  font-size: 3rem;
  font-weight: 600;
  background-image: linear-gradient(to bottom, #6e85b7, #b2c8df);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.headerFour {
  font-family: "Lato", sans-serif;
  color: #6e85b7;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.par {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 0px 200px;
  color: #06283d;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 20px;
  padding: 50px 0;
}
.description {
  font-family: "Righteous", sans-serif;
  color: #6e85b7;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.imgParagraph {
  color: #06283d;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .headerContainer {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
  }
  .headerFour {
    font-size: 2rem;
  }
  .par {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 780px) {
  .headerContainer {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
  }
  .headerFour {
    font-size: 2rem;
  }
  .par {
    padding: 0px 100px;
  }
}
