@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.container {
  background-color: #4f606a;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  padding: 10px 0 10px 0;
}
.pageHeader {
  color: #f4f2f2;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
}
.paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #f4f2f2;
}
.flexItem {
  align-self: center;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}
.png {
  width: 30px;
  height: 30px;
}
.formInput {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0.5rem 0.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: 0;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
