@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.container {
  background-color: #f4f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.item {
  margin-bottom: 10px;
  padding: 20px;
}
.item a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.item a.active {
  padding: 40px;
  background-color: #4f606a;
  color: #f4f2f2;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
