@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.container {
  background-color: #f4f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.item {
  margin-bottom: 10px;
  padding: 20px;
}
.item a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.item a.active {
  padding: 40px;
  background-color: #4f606a;
  color: #f4f2f2;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 700px) {
  .item a {
    font-size: 10px;
  }
  .item a.active {
    font-size: 12px;
    padding: 31px;
  }
}
@media screen and (max-width: 595px) {
  .item a {
    font-weight: 400;
  }
  .item a.active {
    font-size: 10px;
    padding: 31px 30px;
    font-weight: 400;
  }
}
@media screen and (max-width: 420px) {
  .item a.active {
    padding: 31px 20px;
  }

  .item {
    padding: 10px;
  }
}
