@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.container {
  margin: 10px 0;
}
.header {
  color: black;
}
.paragraph {
  padding-top: 10px;
  color: black;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.carouselControl {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
}
.carouselControl.prev {
  left: 20%;
}
.carouselControl.next {
  right: 20%;
}
.carouselControl:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
@media screen and (max-width: 768px) {
  .paragraph {
    font-size: 0.6rem;
  }
  .carouselControl.prev {
    left: 10%;
  }
  .carouselControl.next {
    right: 10%;
  }
}
@media screen and (max-width: 480px) {
  .carouselControl {
    height: 15px;
    width: 15px;
    line-height: 15px;
  }
  .paragraph {
    font-size: 0.5rem;
  }
  .carouselControl.prev {
    left: 2%;
  }
  .carouselControl.next {
    right: 2%;
  }
}
