@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.header {
  color: black;
}
p {
  padding-top: 10px;
  color: black;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.carouselControl {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  /* top: 50%; */
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 20px;
}

.carouselControl.prev {
  left: 20%;
}

.carouselControl.next {
  right: 20%;
}

.carouselControl:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
